

.usa-card__container {
    color:#1b1b1b;
    background-color:#fff;
    font-family:Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size:1.06rem;
    line-height:1.5;
    border-width:2px;
    border-color:#dfe1e2;
    border-style:solid;
    display:flex;
    flex-direction:row;
    height:100%;
    width: 100%;
    flex-direction:column;
    margin-left:.5rem;
    margin-right:.5rem;
    position:left;
    border-radius:.5rem
  }
  .usa-card__body {
    flex-direction: row;
    padding:.5rem 1.5rem;
    flex-basis:auto
  }
  .usa-button {
    font-family: Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
    font-size: 1.06rem;
    line-height: .9;
    color: #fff;
    background-color: #005ea2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: .25rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
   
    padding: .75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  
  .usa-input {
    border-width: 1px;
    border-color: #565c65;
    border-style: solid;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    color: #1b1b1b;
    display: flex;
    height: 2rem;
    padding: .5rem;
    width: 100%;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
  }
  
  button:hover {
    border-color: #646cff;
  }
  