

.usa-card__container {
  color:#1b1b1b;
  background-color:#fff;
  font-family:Source Sans Pro Web,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size:1.06rem;
  line-height:1.5;
  border-width:2px;
  border-color:#dfe1e2;
  border-style:solid;
  display:flex;
  flex-direction:row;
  height:100%;
  width: 100%;
  flex-direction:column;
  margin-left:.5rem;
  margin-right:.5rem;
  position:left;
  border-radius:.5rem
}
.usa-card__body {
  flex-direction: row;
  padding:.5rem 1.5rem;
  flex-basis:auto
}