.navbar {
   overflow: hidden;
   background-color: #333;
   position: fixed; 
   top: 0;
   width: 100%; 
   margin-left: 50px;
   margin-right: 50px;
 }
 
 .navbar a {
   float: left;
   display: block;
   color: #218ca4;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }
 

 .navbar a:hover {
   background: #85b4d4;
   color: black;
 }
 